# Application environment
APP_ENV=prod

# Django
DEBUG=False
SECRET_KEY=change-this-production-secret-key
APP_VERSION=1.2.1
DJANGO_SETTINGS_MODULE=config.settings_prod
ALLOWED_HOSTS=lineops.somosglobal.com.br
CSRF_TRUSTED_ORIGINS=https://lineops.somosglobal.com.br
SECURE_SSL_REDIRECT=True
USE_X_FORWARDED_PROTO=True
HEALTHCHECK_REQUIRE_AUTH=False

# Database
DB_NAME=lineops
DB_USER=lineops
DB_PASSWORD=change-this-production-db-password
DB_HOST=db
DB_PORT=5432

# TLS mounted on nginx container
TLS_CERT_PATH=/caminho/para/fullchain.pem
TLS_KEY_PATH=/caminho/para/privkey.pem
