# Application environment
APP_ENV=prod

# Django
DEBUG=False
SECRET_KEY=change-this-qa-secret-key
APP_VERSION=1.1.0-qa
ALLOWED_HOSTS=qa.lineops.local,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://qa.lineops.local
DJANGO_SETTINGS_MODULE=config.settings_qa
USE_X_FORWARDED_PROTO=True
SECURE_SSL_REDIRECT=True
HEALTHCHECK_REQUIRE_AUTH=False

# Database
DB_NAME=lineops
DB_USER=lineops
DB_PASSWORD=change-this-qa-db-password
DB_HOST=db
DB_PORT=5432

# Meow
WHATSAPP_MEOW_TIMEOUT_SECONDS=5

# TLS mounted by nginx
TLS_CERT_PATH=./certs/qa-fullchain.pem
TLS_KEY_PATH=./certs/qa-privkey.pem
