# Application environment: dev | prod
APP_ENV=dev

# Django
DEBUG=True
SECRET_KEY=change-this-secret-key
APP_VERSION=1.0.4
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
DJANGO_SETTINGS_MODULE=config.settings_dev

# Database
DB_NAME=lineops
DB_USER=lineops
DB_PASSWORD=change-this-db-password
DB_HOST=db
DB_PORT=5432

# Optional (production)
SECURE_SSL_REDIRECT=True
CSRF_TRUSTED_ORIGINS=https://seu-dominio.com
USE_X_FORWARDED_PROTO=False
HEALTHCHECK_REQUIRE_AUTH=False
