{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LineOps{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include "base/navbar.html" %}

    <div class="container-wrapper">
        {% include "base/sidebar.html" %}

        <main class="main-content">
            {% include "base/messages.html" %}
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>